.Contact__label {
  font-size: 1.3rem;
  font-weight: 500;
}
.Contact__btn {
  margin-top: 3rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-size: 1.7rem;
}
.Contact__btn:hover {
  border: 1px solid #0275d8;
  padding: -2rem;
  transform: scale(1.02);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.Contact--has__error {
  border: 1.6px solid #f44336;
}

.Contact--formmessage__invalid {
  color: #f44336;
  font-size: 1.2rem;
}
.Contact--formmessage__valid {
  color: #04750a;
  font-size: 1.2rem;
}
.light:hover {
  cursor: pointer;
}
