.Footer {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 27rem;
}

.Footer__faFacebookF:hover {
  background: white;
  border-bottom: 2px solid blue;
  border-radius: 2rem;
  cursor: pointer;
  transition: transform 450ms ease-out, opacity 450ms ease-out,
    -webkit-transform 450ms ease-out;
  transform: scale(1.1);
  transform-origin: center center;
  justify-content: space-evenly;
  cursor: pointer;
}
.Footer__faInstagram:hover {
  background: white;
  border-bottom: 2px solid red;
  cursor: pointer;
  border-radius: 2rem;
  width: 10%;
  transition: transform 450ms ease-out, opacity 450ms ease-out,
    -webkit-transform 450ms ease-out;
  transform: scale(1.1);
  transform-origin: center center;
  cursor: pointer;
}
.Footer__faTwitter:hover {
  background: white;
  border-bottom: 2px solid teal;
  cursor: pointer;
  border-radius: 3rem;
  width: 10%;
  transition: transform 450ms ease-out, opacity 450ms ease-out,
    -webkit-transform 450ms ease-out;
  transform: scale(1.3);
  transform-origin: center center;
  cursor: pointer;
}
.Footer__faLinkedinIn:hover {
  background: white;
  border-bottom: 2px solid blue;
  cursor: pointer;
  border-radius: 3rem;
  width: 10%;
  transition: transform 450ms ease-out, opacity 450ms ease-out,
    -webkit-transform 450ms ease-out;
  transform: scale(1.1);
  transform-origin: center center;

  cursor: pointer;
}
.Footer__ffaEnvelope:hover {
  background: white;
  border-bottom: 2px solid red;
  cursor: pointer;
  border-radius: 3rem;
  transition: transform 450ms ease-out, opacity 450ms ease-out,
    -webkit-transform 450ms ease-out;
  transform: scale(1.3);
  transform-origin: center center;
  cursor: pointer;
}
.Footer__faEnvelope:hover {
  background: white;
  border-bottom: 2px solid red;
  cursor: pointer;
  border-radius: 3rem;
  transition: transform 450ms ease-out, opacity 450ms ease-out,
    -webkit-transform 450ms ease-out;
  transform: scale(1.1);
  cursor: pointer;
}
.Footer__faPhone:hover {
  background: white;
  border-bottom: 2px solid black;
  cursor: pointer;
  border-radius: 3rem;
  transition: transform 450ms ease-out, opacity 450ms ease-out,
    -webkit-transform 450ms ease-out;
  transform: scale(1.1);
  transform-origin: center center;
  cursor: pointer;
}
