.Navbarlink {
  margin: 0;
  font-family: "Kalam";
  text-transform: capitalize;
  margin-top: 1.7rem;
  font-weight: 400;
}

.Navbar--link {
  margin: 3px;
  padding: 2px;
  font-size: 1.7rem;
}
#navbar-brand {
  margin: 5px;
  margin-right: 5px;
  padding: 1px;
  font-size: 3rem;
  font-weight: 500;
}
#navbar-brand:hover {
  border-bottom: 3px solid blue;
  transition: transform 550ms ease-out, opacity 550ms ease-out,
    -webkit-transform 550ms ease-out;
}
